<h1>Welcome to Interconnect</h1>

<br>

<h2> About Us</h2>
<div class="container" >
<p>InterConnect is a web application based on AngularJS. This application is used for students to communicate with their professors. This application is mainly used for students to submit their files to be reviewed by professors. In this application, typescript is utilized for Angular. TypeScript provides advanced autocompletion, navigation, and refactoring. Having such tools is almost a requirement for large projects. Angular CLI is used for designing and creating InterConnect.
</p>
</div>
